@import "./src/zero.scss";
@import "./src/fonts.scss";
@import "./src/varibles.scss";
@import "./src/mixins.scss";
@import "./src/varibles.scss";

nav {
  li {
    list-style: none;
  }
}
a {
  @include fonts($regular, $fSmall, $white);
}

.header {
  background-image: url(./img/header/background.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 1024px;
  height: auto;
  margin: auto;
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  &__top {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 23px auto 0px;
  }

  &__menu {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list {
    display: block;
    position: relative;
    width: 33%;
  }
  &__submenu-list {
    position: relative;
  }
  &__sub-submenu-list {
    &:hover {
      background-color: rgba($color: #3d3d3d, $alpha: 0.7);
    }
  }
  .arrow {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 5px;
  }

  &__logo {
    width: 167px;
    height: 26px;
  }

  &__submenu {
    display: none;
  }
  &__sub-submenu {
    display: none;
  }

  &__btn-top {
    @include btn(107px, 37px, $fern);
    flex-shrink: 0;
    &::before {
      content: "\f007";
      padding-right: 5px;
      font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
    }
  }

  &__banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
  }

  &__title {
    @include fonts($light, $biggest, $white);
  }

  &__title--bold {
    font-family: $semibold;
  }

  &__subtitle {
    @include fonts($regular, $fregular, $white);
    margin-top: 15px;
  }

  &__form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 95px;
    box-sizing: border-box;
  }

  &__btn-banner {
    margin: 75px auto;
    @include btn(180px, 37px, $fern);
    &::before {
      content: "\f007";
      padding-right: 5px;
      font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
    }
  }
}

.points {
  min-width: 1024px;
  &__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 81px auto 0px;
  }

  &__column {
    margin: 0 5%;
  }
}
.points-item {
  width: 160px;
  text-align: center;

  &__img {
    width: 99px;
    height: 99px;
  }

  &__title {
    @include fonts($bold, $Fbig, $blue);
    margin-top: 37px;
  }

  &__text {
    margin-top: 25px;
    @include fonts($regular, $fSmall, $capeCod);
    line-height: 24px;
    text-align: center;
  }
}
.quote {
  min-width: 1024px;
  &__container {
    margin: 7.72% auto 3.3%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbfbfd;
  }

  &__text {
    @include fonts($regular, $normal, $capeCod);
    font-style: italic;
    text-align: center;
    line-height: 30px;
    margin-top: 35px;
  }

  &__line {
    display: block;
    margin: 28px auto;
  }

  &__title {
    @include fonts($regular, $fSmall, $capeCod);
    text-transform: uppercase;
    margin-top: 26px;
  }

  &__btn {
    @include btn(204px, 43px, transparent);
    border: 1px solid #7e7ab6;
    margin: 26px auto;
    color: $capeCod;
    &::before {
      content: url(./img/mid/quote/View_eye.png);
      padding-right: 5px;
      margin-top: 5px;
    }
  }
}

.howto {
  min-width: 1024px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: centr;

  &__title {
    @include fonts($regular, $biggest, $capeCod);
    padding: 7%;
    text-align: center;
  }

  &__row {
    margin-bottom: 76px;
    display: flex;
    justify-content: center;
  }

  &__column {
    max-width: 188px;
    width: calc(20% - (13.2px * 2));
    margin: 0 13.2px;
  }
}
.howto-item {
  &__avatar {
    margin: auto;
    border: $blue dashed 1px;
    border-radius: 50%;
    width: 133px;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 45px;
    height: 48px;
  }

  &__text {
    @include fonts($regular, $fSmall, $capeCod);
    line-height: 24px;
    text-align: center;
    margin-top: 36px;
  }

  &__text--blue {
    font-family: $bold;
    color: $blue;
  }
}

.partners {
  min-width: 1024px;
  background: #fbfbfd;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 205px;
    margin: 0px 24.2px;
  }

  &__line {
    display: block;
  }

  &__item {
    width: 305px;
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
  }

  &__title {
    @include fonts($bold, $Fbig, $blue);
  }

  &__text {
    @include fonts($regular, $fSmall, $capeCod);
    line-height: 24px;
  }

  &__text--blue {
    color: $blue;
  }
}

.mathhelp {
  min-width: 1024px;
  &__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 8% 0px 0px 15%;
    width: 25.4%;
  }

  &__title {
    @include fonts($regular, $biggest, $capeCod);
  }

  &__text {
    width: 100%;
    height: auto;
    line-height: 30px;
    @include fonts($regular, $normal, $capeCod);
    margin: 49px 0px;
  }

  &__btn {
    @include btn(192px, 37px, $fern);
    margin-bottom: 50px;
    &::before {
      content: "\f007";
      padding-right: 5px;
      font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
    }
  }

  &__img {
    width: 52.01%;
    margin-left: 50px;
    align-self: flex-end;
  }
}

.footer {
  min-width: 1024px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #5f5b88;
  &__logo {
    margin-left: 225px;
  }

  &__copyright {
    @include fonts($regular, $fSmall, $white);
    margin-right: 225px;
  }
}
@import "./src/menu.scss";
@import "./src/form.scss";
@import "./src/media.scss";
@import "./src/popup.scss";
@import "./src/goUp.scss";
