@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Segoe UI light";
  src: url("./fonts/SegoeUI-Light.eot");
  src: local("Segoe UI Light"), local("SegoeUI-Light"), url("SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("SegoeUI-Light.woff") format("woff"), url("SegoeUI-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI regular";
  src: url("./fonts/SegoeUI.eot");
  src: local("Segoe UI"), local("SegoeUI"), url("SegoeUI.eot?#iefix") format("embedded-opentype"), url("SegoeUI.woff") format("woff"), url("SegoeUI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI semibold";
  src: url("./fonts/SegoeUI-SemiBold.eot");
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("SegoeUI-SemiBold.woff") format("woff"), url("SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI bold";
  src: url("./fonts/SegoeUI-Bold.eot");
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("SegoeUI-Bold.woff") format("woff"), url("SegoeUI-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
nav li {
  list-style: none;
}

a {
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #fff;
}

.header {
  background-image: url(./img/header/background.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 1024px;
  height: auto;
  margin: auto;
}
.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
}
.header__top {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px auto 0px;
}
.header__menu {
  width: 392px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: block;
  position: relative;
  width: 33%;
}
.header__submenu-list {
  position: relative;
}
.header__sub-submenu-list:hover {
  background-color: rgba(61, 61, 61, 0.7);
}
.header .arrow {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 7px;
  right: 5px;
}
.header__logo {
  width: 167px;
  height: 26px;
}
.header__submenu {
  display: none;
}
.header__sub-submenu {
  display: none;
}
.header__btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  background-color: #5cb85c;
  width: 107px;
  height: 37px;
  font-family: "Segoe UI semibold";
  font-size: 0.778em;
  color: #fff;
  flex-shrink: 0;
}
.header__btn-top::before {
  content: "";
  padding-right: 5px;
  font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
}
.header__banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
}
.header__title {
  font-family: "Segoe UI light";
  font-size: 2em;
  color: #fff;
}
.header__title--bold {
  font-family: "Segoe UI semibold";
}
.header__subtitle {
  font-family: "Segoe UI regular";
  font-size: 1em;
  color: #fff;
  margin-top: 15px;
}
.header__form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 95px;
  box-sizing: border-box;
}
.header__btn-banner {
  margin: 75px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  background-color: #5cb85c;
  width: 180px;
  height: 37px;
  font-family: "Segoe UI semibold";
  font-size: 0.778em;
  color: #fff;
}
.header__btn-banner::before {
  content: "";
  padding-right: 5px;
  font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
}

.points {
  min-width: 1024px;
}
.points__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 81px auto 0px;
}
.points__column {
  margin: 0 5%;
}

.points-item {
  width: 160px;
  text-align: center;
}
.points-item__img {
  width: 99px;
  height: 99px;
}
.points-item__title {
  font-family: "Segoe UI bold";
  font-size: 1.55em;
  color: #817bba;
  margin-top: 37px;
}
.points-item__text {
  margin-top: 25px;
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #424242;
  line-height: 24px;
  text-align: center;
}

.quote {
  min-width: 1024px;
}
.quote__container {
  margin: 7.72% auto 3.3%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfbfd;
}
.quote__text {
  font-family: "Segoe UI regular";
  font-size: 0.88858em;
  color: #424242;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  margin-top: 35px;
}
.quote__line {
  display: block;
  margin: 28px auto;
}
.quote__title {
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #424242;
  text-transform: uppercase;
  margin-top: 26px;
}
.quote__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  background-color: transparent;
  width: 204px;
  height: 43px;
  font-family: "Segoe UI semibold";
  font-size: 0.778em;
  color: #fff;
  border: 1px solid #7e7ab6;
  margin: 26px auto;
  color: #424242;
}
.quote__btn::before {
  content: url(./img/mid/quote/View_eye.png);
  padding-right: 5px;
  margin-top: 5px;
}

.howto {
  min-width: 1024px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: centr;
}
.howto__title {
  font-family: "Segoe UI regular";
  font-size: 2em;
  color: #424242;
  padding: 7%;
  text-align: center;
}
.howto__row {
  margin-bottom: 76px;
  display: flex;
  justify-content: center;
}
.howto__column {
  max-width: 188px;
  width: calc(20% - (13.2px * 2));
  margin: 0 13.2px;
}

.howto-item__avatar {
  margin: auto;
  border: #817bba dashed 1px;
  border-radius: 50%;
  width: 133px;
  height: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.howto-item__img {
  width: 45px;
  height: 48px;
}
.howto-item__text {
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #424242;
  line-height: 24px;
  text-align: center;
  margin-top: 36px;
}
.howto-item__text--blue {
  font-family: "Segoe UI bold";
  color: #817bba;
}

.partners {
  min-width: 1024px;
  background: #fbfbfd;
}
.partners__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners__logo {
  width: 205px;
  margin: 0px 24.2px;
}
.partners__line {
  display: block;
}
.partners__item {
  width: 305px;
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
}
.partners__title {
  font-family: "Segoe UI bold";
  font-size: 1.55em;
  color: #817bba;
}
.partners__text {
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #424242;
  line-height: 24px;
}
.partners__text--blue {
  color: #817bba;
}

.mathhelp {
  min-width: 1024px;
}
.mathhelp__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.mathhelp__item {
  margin: 8% 0px 0px 15%;
  width: 25.4%;
}
.mathhelp__title {
  font-family: "Segoe UI regular";
  font-size: 2em;
  color: #424242;
}
.mathhelp__text {
  width: 100%;
  height: auto;
  line-height: 30px;
  font-family: "Segoe UI regular";
  font-size: 0.88858em;
  color: #424242;
  margin: 49px 0px;
}
.mathhelp__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  background-color: #5cb85c;
  width: 192px;
  height: 37px;
  font-family: "Segoe UI semibold";
  font-size: 0.778em;
  color: #fff;
  margin-bottom: 50px;
}
.mathhelp__btn::before {
  content: "";
  padding-right: 5px;
  font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
}
.mathhelp__img {
  width: 52.01%;
  margin-left: 50px;
  align-self: flex-end;
}

.footer {
  min-width: 1024px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f5b88;
}
.footer__logo {
  margin-left: 225px;
}
.footer__copyright {
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #fff;
  margin-right: 225px;
}

.mouse .header a {
  display: inline-block;
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .mouse .header a {
    margin: 10px;
    font-size: 1em;
    position: relative;
  }
}
.mouse .header__menu-list:hover {
  background-color: rgba(61, 61, 61, 0.5);
}
@media screen and (min-width: 766px) {
  .mouse .header__menu-list:hover .header__submenu {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(61, 61, 61, 0.5);
  }
}
.mouse .header__submenu-list:hover {
  background-color: rgba(61, 61, 61, 0.7);
}
@media screen and (min-width: 766px) {
  .mouse .header__submenu-list:hover .header__sub-submenu {
    display: block;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
    background-color: rgba(61, 61, 61, 0.7);
  }
}

.touch a {
  display: inline-block;
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .touch a {
    margin: 10px;
    font-size: 1em;
    position: relative;
  }
}
.touch .arrow-rotate {
  transform: rotate(-180deg);
}
.touch .open-submenu {
  display: block;
  background-color: rgba(61, 61, 61, 0.5);
}
@media screen and (min-width: 1024px) {
  .touch .open-submenu {
    position: absolute;
    width: 100%;
  }
}
.touch .header__sub-submenu {
  background-color: rgba(36, 26, 26, 0.7);
}
@media screen and (min-width: 1024px) {
  .touch .header__sub-submenu {
    position: relative;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .header__menu-block {
    position: absolute;
    order: 1;
    top: 100%;
    height: auto;
    width: 70%;
  }
  .header__menu {
    width: 100%;
    display: block;
    top: 0px;
  }
  .header__menu-list {
    margin: 0 5px;
    width: 30%;
    display: inline-block;
    position: relative;
    vertical-align: text-top;
    top: 0;
    background-color: rgba(61, 61, 61, 0.5);
  }
  .header__submenu-list {
    position: relative;
    display: block;
    width: 100%;
    background-color: rgba(102, 85, 102, 0.6);
  }
}
@media screen and (max-width: 767px) {
  .header__menu-block {
    display: none;
  }
  .header__menu-block--open {
    display: block;
    position: fixed;
    z-index: 2;
    order: 1;
    top: 0%;
    left: 1%;
    height: 100vh;
    width: 98%;
    background-color: rgba(61, 61, 61, 0.7);
  }
  .header__menu {
    display: block;
    top: 80px;
    position: absolute;
    width: 100%;
  }
  .header__menu-list {
    background-color: transparent;
    margin: 0;
    display: block;
    width: 100%;
    position: relative;
    top: 0;
  }
  .header__submenu {
    background-color: rgba(61, 61, 61, 0.9);
  }
  .header__submenu-list {
    position: relative;
  }
  .header__sub-submenu {
    background-color: rgba(36, 26, 26, 0.7);
  }
  .header__sub-submenu-list {
    position: relative;
  }
}
.form {
  margin-top: 95px;
  display: flex;
  height: 25px;
}
.select {
  width: 190px;
  margin: 0 5px;
  padding-bottom: 5px;
  height: 100%;
  border-bottom: solid white;
  position: relative;
}
.select__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  height: 100%;
}
.select__val {
  display: block;
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #fff;
}
.select__body {
  display: none;
}
.select__item {
  padding: 0 5px;
  height: 25px;
  background-color: rgba(61, 61, 61, 0.8);
  display: flex;
  align-items: center;
  width: 100%;
}
.select__item:hover {
  background-color: rgba(102, 102, 102, 0.8);
}

.is-active {
  border: none;
  background-color: rgba(61, 61, 61, 0.8);
}
.is-active .select__body {
  width: 100%;
  top: 100%;
  position: absolute;
  display: block;
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #fff;
}

.search {
  display: flex;
  margin: 0 5px;
  position: relative;
}
.search__head {
  display: flex;
  align-items: center;
  border-bottom: solid white;
  padding: 0 5px;
  height: auto;
}
.search__val {
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #fff;
}
.search__body {
  width: 100%;
  position: absolute;
  top: 100%;
  display: block;
  font-family: "Segoe UI regular";
  font-size: 0.778em;
  color: #fff;
}
.search__item {
  display: none;
  padding: 0 21px;
  height: 25px;
  background-color: rgba(61, 61, 61, 0.8);
  display: flex;
  align-items: center;
  width: 100%;
}
.search__item:hover {
  background-color: rgba(102, 102, 102, 0.8);
}

.hidden {
  display: none;
}

.is-active {
  background-color: rgba(61, 61, 61, 0.8);
}
.is-active .search__head {
  border: none;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  a {
    display: inline-block;
    margin: 5px;
  }

  .header {
    min-width: 767px;
  }
  .header__top {
    position: relative;
    width: 90%;
  }

  .arrow {
    position: absolute;
    top: 8px;
    right: 5px;
  }

  .points {
    min-width: 767px;
  }

  .quote {
    min-width: 767px;
  }

  .howto {
    min-width: 767px;
  }
  .howto__column {
    margin: 0 8px;
  }

  .howto-item__avatar {
    width: 125px;
    height: 125px;
  }

  .partners {
    min-width: 767px;
  }

  .mathhelp {
    min-width: 767px;
  }
  .mathhelp__container {
    flex-direction: column;
  }
  .mathhelp__item {
    width: 90%;
    align-self: center;
    margin: 8% auto 0;
  }
  .mathhelp__btn {
    margin-bottom: 0px;
  }
  .mathhelp__img {
    width: 80%;
    align-self: flex-end;
  }

  .footer {
    min-width: 767px;
  }
  .footer__logo {
    margin-left: 100px;
  }
  .footer__copyright {
    margin-right: 100px;
  }
}
@media screen and (max-width: 766px) {
  .header {
    min-width: 320px;
    height: 100vh;
    background-size: cover;
  }
  .header__logo {
    display: none;
  }
  .header .arrow {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .header__title {
    text-align: center;
    font-size: 1.5em;
  }
  .header__btn-banner {
    display: none;
  }
  .header .select {
    display: none;
  }

  .burger__btn {
    position: fixed;
    z-index: 4;
    width: 35px;
    height: 35px;
    left: 20px;
    top: 25px;
    background: transparent;
  }
  .burger__img {
    display: block;
    height: 2.5px;
    width: 100%;
    background-color: #666;
    border: 0.3px solid white;
  }
  .burger__img::before, .burger__img::after {
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    display: block;
    height: 2.5px;
    width: 100%;
    border: 0.3px solid white;
    position: absolute;
    transform: translateY(-8px);
  }
  .burger__img::after {
    transform: translateY(7px);
  }
  .burger .close {
    display: block;
    visibility: hidden;
  }
  .burger .close::before, .burger .close::after {
    visibility: visible;
    transform: rotate(45deg);
    bottom: 9;
  }
  .burger .close::after {
    transform: rotate(-45deg);
    bottom: 9;
  }

  .points {
    min-width: 320px;
  }
  .points__container {
    flex-direction: column;
    align-items: center;
  }

  .points-item {
    margin: 5px 0;
  }
  .points-item__title {
    margin-top: 20px;
  }

  .quote {
    min-width: 320px;
    width: 95%;
  }

  .howto {
    min-width: 320px;
  }
  .howto__title {
    font-size: 1.5em;
  }
  .howto__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .howto__column {
    width: auto;
  }

  .howto-item__text {
    margin: 18px 0;
  }

  .partners {
    min-width: 320px;
  }
  .partners__container {
    flex-direction: column;
  }
  .partners__logo {
    margin: 20px auto;
  }
  .partners__line {
    transform: rotate(90deg);
  }
  .partners__item {
    margin: auto;
  }
  .partners__title {
    text-align: center;
    margin: 0 auto;
  }
  .partners__text {
    text-align: center;
  }

  .kaplan-logo {
    margin: 0 auto;
  }

  .mathhelp {
    min-width: 320px;
  }
  .mathhelp__container {
    flex-direction: column;
  }
  .mathhelp__item {
    width: 90%;
    margin: 8% auto;
  }
  .mathhelp__title {
    text-align: center;
  }
  .mathhelp__text {
    text-align: center;
  }
  .mathhelp__btn {
    margin: auto;
  }
  .mathhelp__img {
    width: 90%;
  }

  .footer {
    min-width: 320px;
    flex-direction: column;
  }
  .footer__logo {
    margin: auto;
  }
  .footer__copyright {
    margin: auto;
  }
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 450px;
  min-width: 320px;
  background-color: white;
  position: relative;
  padding: 10px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.login__close {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 25px;
  height: 25px;
}
.login__close-img {
  width: 100%;
  display: block;
  background-color: #000;
  height: 2px;
  visibility: hidden;
  margin-top: 5px;
}
.login__close-img::before, .login__close-img::after {
  content: "";
  width: 100%;
  display: block;
  background-color: #000;
  height: 2px;
  position: absolute;
  transform: rotate(45deg);
  visibility: visible;
}
.login__close-img::after {
  transform: rotate(-45deg);
}
.login__title {
  text-align: center;
}
.login__row {
  border: solid black 0.3px;
  margin-top: 10px;
  display: flex;
}
.login__input {
  flex-grow: 1;
  padding: 5px;
}
.login__icon {
  align-self: center;
  margin-right: 3px;
  font-size: 16px;
}
.login__btn {
  margin: 15px auto 0px;
  display: block;
  padding: 5px 10px;
}
.fa-user {
  margin-right: 5px;
}

.fa-envelope {
  margin-right: 4px;
}

.incorrect {
  border: red solid;
}

.close {
  display: none;
}

/*# sourceMappingURL=main.css.map */
