@import "./fonts.scss";

@media screen and (max-width: 370px) {
  .wrapper {
    width: 370px;
  }
  .header {
    width: 370px;
    background-size: cover;

    &__container {
      width: 370px;
      opacity: none;
    }

    &__top {
      width: 90%;
      height: 560px;
      flex-direction: column;
      justify-content: space-between;
      margin: 30px auto;
    }

    &__logo {
      width: 60%;
    }

    &__menu {
      display: none;
    }

    &__banner {
      display: none;
    }
  }
  .logo {
    width: 60%;
  }
  .mobile-btn {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 35px;
    height: 35px;
    position: fixed;
    z-index: 3;
    top: 25px;
    right: 40px;
    
    &__img{
      display: block;
      width: 20px;
      height: 3px;
      background-color: $white;
      visibility: hidden;
      
      &::before,
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $white; 
        visibility: visible; 
        position: absolute;
      }
      &::before{
        transform: rotate(45deg);
        top: 8;
        left: 0;

      
      }
      &::after{
        transform: rotate(-45deg);
        bottom: 8;
        left: 0;
      }
    }

    .close {
      display: block;
      width: 80%;
      height: 3px;
      background-color: $white;
      visibility: visible; 
      border-bottom: solid 0.5px black;
      &::before,
      &::after {
        content: "";
        display: block;
        width: 80%;
        height: 3px;
        background-color: $white; 
        margin-left: 4px; 
        border-bottom: solid 0.5px black;
      }
      &::before{ 
        transform: translateY(-8px);
      }
      &::after{
        transform: translateY(8px);
      }
    }
   
  }

  .points {
    width: 370px;
    &__container {
      width: 100%;
      height: auto;
      flex-direction: column;
    }
  }

  .quote {
    width: 370px;

    &__container {
      width: 100%;
      text-align: center;
      margin: 40px auto;
    }

    &__text {
      width: 97%;
    }
  }
  .howto {
    width: 100%;
    height: auto;
    &__container {
      width: 100%;
      height: auto;
    }

    &__row {
      flex-direction: column;
    }

    &__column {
      padding-top: 20px;
    }
  }

  .partners {
    width: 370px;
    height: auto;
    &__container {
      width: 100%;
      flex-direction: column;
    }

    &__line {
      display: none;
    }

    &__item {
      text-align: center;
      margin-top: 40px;
    }
  }

  .sylvan-logo {
    margin-top: 40px;
  }
  .kaplan-logo {
    margin-top: 40px;
  }
  .mathhelp {
    width: 370px;

    &__container {
      width: 100%;
      flex-direction: column;
      margin: 60px auto 0px;
    }

    &__item {
      margin: 40px auto;
    }

    &__text {
      padding-top: 10px;
      text-align: center;
    }
    &__title {
      margin: auto;
    }
    &__btn {
      margin: 30px auto;
    }

    &__img {
      margin: auto;
      width: 340px;
      height: 260px;
    }
  }
  .footer {
    flex-direction: column;
    width: 100%;
    &__logo {
      margin: auto;
    }

    &__copyright {
      margin: auto;
    }
  }
}
