.mouse {
  .header {
    a {
      display: inline-block;
      margin: 5px;
      @media screen and (max-width: 767px) {
        margin: 10px;
        font-size: 1em;
        position: relative;
      }
    }
    &__menu-list {
      &:hover{
        background-color: rgba($color: #3d3d3d, $alpha: 0.5);
      }  
      &:hover .header__submenu {
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: rgba($color: #3d3d3d, $alpha: 0.5);
        @media screen and (max-width: 766px) {
          position: relative;
        }
      }
    }

    &__submenu-list {
      &:hover{
        background-color: rgba($color: #3d3d3d, $alpha: 0.7);
      }
      &:hover .header__sub-submenu {
        display: block;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 100%;
        background-color: rgba($color: #3d3d3d, $alpha: 0.7);
        @media screen and (max-width: 766px) {
          position: relative;
          left: 0;
        }
      }
    }
    
  }
  
  
}


.touch {
   a {
     display: inline-block;
     margin: 5px;
     @media screen and (max-width: 767px) {
       margin: 10px;
       font-size: 1em;
       position: relative;
     }
   }
  .arrow-rotate {
    transform: rotate(90deg);
  }

  .open-submenu{
    display: block;
  }
}
