// .mouse {
// .header {
//   a {
//     display: inline-block;
//     margin: 5px;
//     @media screen and (max-width: 767px) {
//       margin: 10px;
//       font-size: 1em;
//       position: relative;
//     }
//   }
//   &__menu-list {
//     &:hover {
//       background-color: rgba($color: #3d3d3d, $alpha: 0.5);
//     }

//     &:hover .header__submenu {
//       display: block;
//       position: absolute;
//       top: 100%;
//       width: 100%;
//       left: 0;
//       background-color: rgba($color: #3d3d3d, $alpha: 0.5);
//     }
//   }

//   &__submenu-list {
//     &:hover {
//       background-color: rgba($color: #3d3d3d, $alpha: 0.7);
//     }

//     &:hover .header__sub-submenu {
//       display: block;
//       width: 100%;
//       position: absolute;
//       top: 0%;
//       left: 100%;
//       background-color: rgba($color: #3d3d3d, $alpha: 0.7);
//     }
//   }
//   .arrow-rotate {
//     transform: rotate(-180deg);
//   }

//   .header__submenu {
//     background-color: rgba($color: #666, $alpha: 0.8);
//   }
//   .header__sub-submenu {
//     background-color: rgba($color: #241a1a, $alpha: 0.8);
//   }
// }

// @media screen and(max-width:767px) {
//   .header {
//     &__menu-block {
//       display: none;
//     }

//     &__menu-block--open {
//       display: block;
//       position: fixed;
//       z-index: 2;
//       order: 1;
//       top: 0%;
//       left: 1%;
//       height: 100vh;
//       width: 98%;
//       background-color: rgba($color: #3d3d3d, $alpha: 0.7);
//     }

//     &__menu {
//       display: block;
//       top: 80px;
//       position: absolute;
//       width: 100%;
//     }

//     &__menu-list {
//       background-color: transparent;
//       margin: 0;
//       display: block;
//       width: 100%;
//       position: relative;
//       top: 0;
//     }

//     &__submenu {
//       background-color: rgba($color: #3d3d3d, $alpha: 0.9);
//     }
//     &__submenu-list {
//       position: relative;
//     }
//     &__sub-submenu {
//       background-color: rgba($color: #241a1a, $alpha: 0.7);

//     }
//     &__sub-submenu-list {
//       position: relative;

//     }
//   }
// }

.header {
  a {
    display: inline-block;
    margin: 5px;
    @media only screen and(max-device-width:767px) {
      margin: 10px;
      font-size: 1em;
      position: relative;
    }
  }
  &__menu-list {
    &:hover {
      background-color: rgba($color: #3d3d3d, $alpha: 0.5);
    }

    &:hover .header__submenu {
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      background-color: rgba($color: #3d3d3d, $alpha: 0.5);
    }
  }
  &__submenu-list {
    &:hover {
      background-color: rgba($color: #3d3d3d, $alpha: 0.7);
    }
    &:hover .header__sub-submenu {
      display: block;
      width: 100%;
      position: absolute;
      top: 0%;
      left: 100%;
      background-color: rgba($color: #3d3d3d, $alpha: 0.7);
    }
  }
}

@media only screen and(max-device-width:767px){
  .header {
    &__menu-block {
      display: none;
    }

    &__menu-block--open {
      display: block;
      position: fixed;
      z-index: 2;
      order: 1;
      top: 0%;
      left: 1%;
      height: 100vh;
      width: 98%;
      background-color: rgba($color: #3d3d3d, $alpha: 0.7);
      overflow-y: scroll;
    }
    &__menu {
      display: block;
      top: 80px;
      position: absolute;
      width: 100%;
    }
    &__menu-list {
      background-color: transparent;
      margin: 0;
      display: block;
      width: 100%;
      position: relative;
      top: 0;
      &:hover {
       background-color: transparent;
      

      }
  
      &:hover .header__submenu {
        display: block;
        position: relative;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: transparent;
        color: white;
      }
    }



    &__submenu-list {
      &:hover {
        background-color: transparent;
        
      }
      &:hover .header__sub-submenu {
        display: block;
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        background-color: transparent;
      }
      // &__sub-submenu-list{
      
      // }
    }
  }
}

.noscroll{
  overflow: hidden;
}