

.mobile-menu {
  width: 90%;
  height: 95%;
  position: fixed;
  z-index: 1;
  top: 10px;
  background-color: #3f4350;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid wheat 1px;

  &__list {
    @include fonts($semibold, $fregular, $white);
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__item {
    margin-top: 20px;
    @include fonts($semibold, $fbig, $white);
  }

  &__form {
    border-bottom: solid wheat 1px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
  }

  &__btn {
    background: transparent;
    color: $white;
    width: 20px;
    height: 20px;
  }

  &__input {
    background: transparent;
    padding-left: 10px;
    &::-webkit-input-placeholder {
      font-size: 16px;
      font-family: 'Segoe UI';
    }
    &::-moz-placeholder {
      font-size: 16px;
    }
    &:-ms-input-placeholder {
      font-size: 16px;
    }
    &:-moz-placeholder {
      font-size: 16px;
    }
  }

  &__arrow {
    padding-right: 15px;
    
  }
}

 .hidden{
  display: none;
}

@media screen and(min-width:370px) {
  .mobile-menu {
    display: none;
  }
}
