$fSmall: 0.778em;
$normal: 0.88858em;
$fregular: 1em;
$fbigger: 1.33em;
$Fbig: 1.55em;
$biggest: 2em;




$sregular: normal;
$sitalic: italic;

$fbig: 36px;

$light: "Segoe UI light";
$regular: "Segoe UI regular";
$semibold: "Segoe UI semibold";
$bold: "Segoe UI bold";

$white: #fff;
$blue: #817bba;
$brightGray: #3f4350;
$capeCod: #424242;
$fern: #5cb85c;
